FU7OMC_0924/FU7OMC_mozi.dtd

<!ELEMENT mozi (film*)>
<!ELEMENT film (rendezo+, szinesz+, iro+)>
<!ELEMENT rendezo (#PCDATA)>
<!ELEMENT szinesz (#PCDATA)>
<!ELEMENT iro (#PCDATA)>
<!ATTLIST film mufaj (horror | drama | vigjatek) #REQUIRED>
<!ATTLIST film id ID #REQUIRED>
<!ATTLIST rendezo id ID #REQUIRED>
<!ATTLIST szinesz id ID #REQUIRED>
<!ATTLIST iro id ID #REQUIRED>